body {
  background-color: rgba(0, 0, 0, 0.9);
}
#settingsBtn {
  position: fixed;
  bottom: 2%;
  left: 2%;
  border: 2px solid white;
  padding: 12px;
  background-color: white;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
}
#usernameFormheader {
  font-family: sans-serif;
  font-size: 20px;
  color: white;
}
#settingBtn {
  margin-left: 20px;
  border: 2px solid transparent;
  padding: 7px;
  width: 250px;
  border-radius: 10px;
}
#usernameInput {
  margin-left: 20px;
  border: 2px solid transparent;
  padding: 7px;
  width: 250px;
  border-radius: 10px;
}
#submitUsername {
  cursor: pointer;
  margin-left: 20px;
  border: 2px solid transparent;
  padding: 7px;
  width: 250px;
  border-radius: 10px;
}
#usernameForm {
  position: absolute;
  top: 10%;
  left: 2%;
}
#settingBack {
  position: absolute;
  left: 2%;
  top: 2%;
  border: 2px solid white;
  padding: 12px;
  background-color: white;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
}

#welcomeThing {
  position: fixed;
  color: white;
  font-family: sans-serif;
  font-size: 30px;
}

#searchBar {
  border: 2px solid;
  padding: 12px;
  width: 500px;
  /* height: 30px; */
  border-radius: 10px;
  position: fixed;
  left: 50%;
  /* top: 5%; */
  transform: translate(-50%, -5%);
  z-index: 1;
  text-align: center;
}

#myUL {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
  min-width: 500px;
  /* width: 400px; */
  list-style-type: none;
}

#myUL li a {
  margin-left: -25px;
  border-radius: 10px;
  border: 1px solid #ddd;
  margin-top: -5px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  cursor: pointer;
  font-family: sans-serif;
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}

#penalCodeHeader {
  margin-left: auto;
  color: white;
  font-family: sans-serif;
}

#penalCodeSubHeader {
  color: white;
  font-family: sans-serif;
  font-size: 15px;
}

/* #backBtn {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  text-align: center;
  align-content: center;
  text-decoration: none;
  font-family: sans-serif;
  color: white;
  border: 2px solid white;
  width: 120px;
  height: 30px;
} */
#backBtn {
  display: inline-block;
  margin-top: 20px;
  /* position: absolute; */
  /* left: 2%;
  top: 2%; */
  border: 2px solid white;
  padding: 12px;
  background-color: white;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
}
